body {
    font-family: Georgia, "Times New Roman", Times, serif;
    margin: 0;              /* Removes default browser margins */
    padding: 0 40px; 
  }
nav {
    background-color: #000000 !important; 
} 
  
  .Page_Header {
    padding: 80px; /* some padding */
    text-align: center; /* center the text */
    background: #CC0000;
    width: 100%; /* red background 
   */
    color: #FFFFF0; /* light creme text color */
  }
  button {
    background-color: #696969; /* Green */
    color: #FFFFF0;
    text-align: center;
    display: inline-block;
    font-size: 16px;
  }
  /* Increase the font size of the <h1> element */
  .Page_Header h1 {
    font-size: 15px;
  }
  
  .Intro_About {
    text-align: center;
    width: 100%;
    background: #FAF9F6;
    color: #C41E3A;
    word-wrap: break-word;
  }
  
/*.Scratch{
  padding: 80px;
  text-align: center;
  width: 90%;
  background: #54514b;
  color: #eba937de;
  word-wrap: break-word;
  display: none;
}

.ScratchLink {
  color:#b97807de;
}*/

  .Intro {
    text-align: center;
    font-size: 15px;
    width: 90%;
    word-wrap: break-word;
  }
  
/* .Project1 {
    padding: 30px;
    color: #eba937de;
    text-align: center;
    font-size: 15px;
    width: 90%;
    word-wrap: break-word;
  }
  
  .ImageLink {
    padding: 30px;
    text-align: center;
    font-size: 15px;
    width: 90%;
    word-wrap: break-word;
  }
  
.Image1 {
    margin-left: auto;
    margin-right: auto;
    display:block
}

.Python{
  padding: 80px;
  text-align: center;
  width: 90%;
  background: #e59635;
  word-wrap: break-word;
  display: none;
}*/

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  height: 20px;
  margin: 2px;
}

img{
  text-align:center

}

div{
  text-align:center;
}

a{
  text-align:center;
  width: 90%
}

/*.JavaScript{
  padding: 80px;
  background:indianred;
  color: black;
  text-align:center;
  display: none
  
}

.Website{
  padding: 80px;
  background: rgb(247, 222, 94);
  color:black;
  text-align:center;
  display: none
}*/

/*rgb(227, 171, 17)*/
.flex-container {
  display: flex;
}
 .section-title {
            text-decoration: underline;
            color: #333;
            margin-bottom: 20px;
        }

        .controls {
            font-weight: bold;
            margin-top: 15px;
        }

