body {
    font-family: Georgia, "Times New Roman", Times, serif;
    margin: 0;              /* Removes default browser margins */    
    background-color: #EFE3B9;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    }

nav {
    background-color: #000000 !important; 
    } 
.body_white{
    background-color:  #FFFFFF !important; 
}
  
.Page_Header {
    box-sizing: border-box; /* Ensure padding/margin don't affect width */
    padding: 80px 0px; /* Padding for top and bottom only */
    margin: 0; /* Prevent interaction with any inherited margins */
    background: #CC0000; /* Red background */
    color: #FFFFF0; /* Cream text */
    text-align: center;
}
.container{
        padding: 0 40px; 
        text-align: center;

}

  button {
    background-color: #696969; /* Green */
    color: #FFFFF0;
    text-align: center;
    display: inline-block;
    font-size: 16px;
  }
  /* Increase the font size of the <h1> element */
  .Page_Header h1 {
    font-size: 15px;
  }
  
  .Intro_About {
    text-align: center;
    width: 100%;
    color: #000000 !important;
    word-wrap: break-word;
  }
  

  .Intro {
    text-align: center;
    font-size: 15px;
    width: 90%;
    word-wrap: break-word;
  }

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  height: 20px;
  margin: 2px;
}

img{
  text-align:center

}

div{
  text-align:center;
}

a{
  text-align:center;
  width: 90%
}





/*rgb(227, 171, 17)*/
.flex-container {
  display: flex;
}
 .section-title {
            text-decoration: underline;
            color: #333;
            margin-bottom: 20px;
        }
.controls{
font-weight: bold;
margin-top: 15px;
        }



.img_music {
    width: 275px !important; /* Added px unit */
    height: 400px !important; /* Added px unit */
    margin-left: auto;
    margin-right: auto;
    display: block; /* Optional: Centering already works without it */
}

.img_Largo {
    width: 500px !important;
    height: 400px !important;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
